:root {
    /* colors */
    --clr-yellow: hsl(47, 88%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-500: hsl(0, 0%, 42%);
    --clr-gray-950: hsl(0, 0%, 7%);
 
  
     /* typography */
     --ff-primary: "Figtree", serif;
     --fw-500: 500;
     --fw-800: 800;
     --fs-14: 0.875rem;
     --fs-category-date-author: clamp(12px, 0.6rem + 0.5vw, 14px); /*12-14*/
     --fs-title: clamp(20px, 1.1rem + 0.5vw, 24px); /*20-24*/
     --fs-para: clamp(14px, 0.7rem + 0.5vw, 16px); /*14-16*/
 }
 
 body {
     display: block;
     min-height: 100vh; /*min-height: 100vh;*/
     justify-items: center;
     align-content: center;
     /* place-content: center; */
     font-family: var(--ff-primary);
     background-color: var(--clr-yellow);
 }
 
 /*---------------------Mobile layout-------------------------*/

 /* style 1st component - mobile */
 .blog {
    max-width: 20.4375rem; /*327 - 501*/
   /*  gap: 1.5rem; */
    padding: 1.5rem;
    border-radius: 1.25rem; /*20*/
    box-shadow: 8px 8px #000000;
    background-color: var(--clr-white);
}
 
.blog__image {
    width: 100%; /*279*/
    max-height: 12.5rem; /*200*/
    border-radius: 0.625rem; /*10*/
    /* justify-self: center; */
    object-fit: cover;
    /* padding-bottom: 1.5rem; */
 }
 
 .blog__content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 1.5rem 0;
    gap: .75rem; /*12*/
}

.blog__category {
    min-width: 5.125rem; /*82*/
    max-width: 4.5625rem; /*73 26*/
    align-items: center;
    border-radius: .25rem; /*4*/
    padding: 0.25rem 0.75rem; /*4 12*/
    background-color: var(--clr-yellow);
    /* border: 2px solid green; */
}

.blog__category--learning {
    color: var(--clr-gray-950);
    font-size: var(--fs-category-date-author);
    font-weight: var(--fw-800);
}

.blog__date {
    max-width: 7.6875rem; /*123 18*/
    font-size: var(--fs-category-date-author);
    font-weight: var(--fw-500);
    color: var(--clr-gray-950);
    /* border: 2px solid green; */
}

.blog__title {
    color: var(--clr-gray-950);
    font-size: var(--fs-title); 
    font-weight: var(--fw-800);
    text-decoration: none;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 }
 
 .blog__description {
    color: var(--clr-gray-500);
    font-weight: var(--fw-500);
    font-size: var(--fs-para);
}
 
.blog__author {
    display: flex;
    gap: .75rem; /*12*/
    max-width: 8.0625rem;
    align-items: center;
    justify-items: start;
}

.blog__author-image {
    width: 2rem;
    height: 2rem;
}

.blog__author-name {
    width: 5.3125rem;
    font-size: var(--fs-14);
    font-weight: var(--fw-800);
    color: var(--clr-gray-950);
}
 
 /* style 2nd component - mobile */
 /* 2nd component is styled in external file */
 

 /*---------------------Desktop layout-------------------------*/
 @media screen and (min-width: 48rem) {
 
 /* style 1st component - desktop */
 .blog {
     max-width: 24rem;
 }
 
 .blog__date {
    min-width: 8.9375rem; /*143 21*/
 }
 
 /* style 2nd component - mobile */
 /* 2nd component is styled in external file */
 
 }
  
 
 